
/*live*/
#toolbar-bar { background-color: #008913; color: #fff; }


/*local*/
.local-env #toolbar-bar { background-color: #000; color: #fff;}

.local-env #toolbar-bar:after {
    content: 'This is your LOCAL environment! Please make changes on LIVE';
    position: absolute;
    right: 200px;
    font-size: 12px;
    top: 11px;
}

/*dev*/
.dev-env #toolbar-bar { background-color:  #B60000; color: #fff; }

.dev-env #toolbar-bar:after {
    content: 'This is the DEV environment! Please make changes on LIVE';
    position: absolute;
    right: 200px;
    font-size: 12px;
    top: 11px;
}

/*test*/
.test-env #toolbar-bar { background-color: #FFED00; }

.test-env #toolbar-bar:after {
    content: 'This is the TEST environment! Please make changes on LIVE';
    position: absolute;
    right: 200px;
    font-size: 12px;
    top: 11px;
    color: #000;
}

.test-env #toolbar-bar .toolbar-tab > * { color: #000; }
.test-env #toolbar-bar .toolbar-tab p   { color: #000; }

.test-env .toolbar-bar .toolbar-icon-menu.is-active::before {
	filter: drop-shadow(0 0 6px #333);
}

.text-env #toolbar-item-administration {
    color: white;
}

@media only screen and (max-width: 1250px) {
    .local-env #toolbar-bar:after, .dev-env #toolbar-bar:after, .test-env #toolbar-bar:after {
        width: 100%;
        position: absolute;
        right: 5px;
        font-size: 11px;
        top: 1px;
        text-align: right;
    }
}


/* content view */

.layout-container .view-id-content form.views-exposed-form .js-form-item-langcode {
    width: 150px;
}

.layout-container .view-id-content form.views-exposed-form .form-item-term-node-tid-depth {
    width: 275px;
}

.layout-container .view-id-content form.views-exposed-form .edit-inline-unit {
    min-width: 100px;
}


.layout-container .view-id-content form.views-exposed-form .form-actions {
    padding-top: 2em;
}
.layout-container .view-id-content #vbo-action-form-wrapper .form-submit {
    margin-bottom: 1.5em;
}

/*break the title field onto own line for below 1480px*/
@media screen and (max-width: 1480px) {
    .layout-container .view-id-content form.views-exposed-form .js-form-item-title {
        margin-right: 90%
    }
}

.paragraphs-dropbutton-wrapper {
    padding-right: 8em;
}

.adminimal .field-multiple-table .form-item {
    margin: 0.75em 0;
    width: 99%;
}