{#
/**
 * @file
 * Default theme implementation to display an image using a specific image style.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - path: An optional array containing the link 'path' and link 'options'.
 * - url: An optional URL the image can be linked to.
 */
#}
{% if url %}
  <a href="{{ url }}">{{ image }}</a>
{% else %}
  {% if image_style %}
    {{ image }}
  {% else %}
    <div class="landing-page-header-background">
      {{ image }}
    </div>
  {% endif %}
{% endif %}